<div class="matchCard p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">GameWeek &nbsp;{{week}}</h5>
  <div *ngIf="gameWeekData.players.length !== 0" class="flex items-center space-x-4 rtl:space-x-reverse p-2">
    <div class="flex-1 min-w-0">
      <p class="text-lg font-bold text-gray-900 truncate dark:text-white">
        Player
      </p>
    </div>
    <div class="inline-flex items-center text-base font-bold text-gray-900 dark:text-white">
      <span style="color: blue;">Rating</span>
    </div>
  </div>
  <h4 *ngIf="gameWeekData.players.length === 0"
    class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Players yet to be added to gameweek!
  </h4>
  <ul class="max-full divide-y divide-gray-200 dark:divide-gray-700 mb-3">
    <li *ngFor="let player of gameWeekData.players" class="p-3">
      <div class="flex items-center space-x-4 rtl:space-x-reverse">
        <div class="flex-1 min-w-0">
          <p class="text-md font-medium text-gray-900 truncate dark:text-white">
            {{player.player}}
          </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
          <span *ngFor="let rating of player.rating">{{rating.rating}}</span>
        </div>
      </div>
    </li>
  </ul>
  <button type="button" data-modal-target="ratings-modal" data-modal-toggle="ratings-modal"
    (click)="sendGameweek(gameWeekData)"
    class="inline-flex items-center px-4 py-2 text-md font-medium text-white bg-blue-600 rounded-lg hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
    <svg class="w-4 h-4 me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0" />
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
      <g id="SVGRepo_iconCarrier">
        <path
          d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
          stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
          stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </g>
    </svg>
    Edit Gameweek & Ratings
  </button>
</div>

<edit-ratings-modal id="ratings-modal" tabindex="-2" aria-hidden="true" [gameWeekData]="gameWeekData"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"></edit-ratings-modal>