/* .matchCard {
  width: 720px;
} */

.button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.ratings-column {
  gap: 1rem;
}

.rating-number-col {
  gap: 6.5rem;
}

*:disabled {
  background-color: dimgrey;
  color: white;
  opacity: 1;
  cursor: not-allowed;
}

.gameweek_stats_main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gameweek_stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gameweek_stats {
  .game_result {
    border-radius: 5px;
    padding: 3px;
  }

  .game_win {
    background-color: rgb(217, 245, 188);
  }

  .game_loss {
    background-color: rgb(234, 183, 183);
  }

  .game_draw {
    background-color: rgb(191, 225, 251);
  }
}
