<div class="content mb-6">
  <div
    class="w-1/2 team-details p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="team-info">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Team Name</h5>
      <h3 class="mb-2 text-xl font-medium tracking-tight text-blue-700 dark:text-white">{{post?.title}}</h3>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Team Description</h5>
      <h3 class="mb-2 text-xl font-medium tracking-tight text-blue-700 dark:text-white">{{post?.content}}</h3>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Players Available</h5>
      <ol class="flex flex-wrap text-gray-900 dark:text-white list-disc list-inside"
        *ngFor="let item of playersArray; index as i">
        <li *ngFor="let player of item.players">
          <span href="#" class="me-4 hover:underline md:me-6 ">{{player}}</span>
        </li>
      </ol>
      <h3 *ngIf="playersArray.length === 0">Players not added yet!</h3>
      <div class="team-options mt-5">
        <div class="inline-flex rounded-md shadow-sm" role="group">
          <button type="button" [routerLink]="['/edit', postId]" [disabled]="accessType !== 'admin'"
            class="inline-flex items-center px-4 py-2 text-xs font-medium text-white bg-green-500 rounded-s-lg hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
            <svg class="w-4 h-4 me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0" />
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                  stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                  stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </svg>
            Edit Team
          </button>
          <!-- <button type="button" (click)="deleteTeam(postId)" -->
          <button type="button" [disabled]="accessType !== 'admin'" (click)="deleteTeam(postId)"
            class="inline-flex items-center px-4 py-2 text-xs font-medium text-white bg-red-500  hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
            <svg class="w-4 h-4 me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0" />
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
              <g id="SVGRepo_iconCarrier">
                <path d="M4 7H20" stroke="#ffffff" stroke-width="1.272" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M6 10L7.70141 19.3578C7.87432 20.3088 8.70258 21 9.66915 21H14.3308C15.2974 21 16.1257 20.3087 16.2986 19.3578L18 10"
                  stroke="#ffffff" stroke-width="1.272" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#ffffff"
                  stroke-width="1.272" stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </svg>
            Delete Team
          </button>
          <button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal"
            [disabled]="accessType !== 'admin'" (click)="emitForm('addPlayers')"
            class="inline-flex items-center px-4 py-2 text-xs font-medium text-white bg-purple-500  hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
            <svg class="w-4 h-4 me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0" />
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
              <g id="SVGRepo_iconCarrier">
                <circle cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="2.4" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.0001 7C13.0001 6.44771 12.5524 6 12.0001 6C11.4479 6 11.0001 6.44771 11.0001 7V11H7C6.44771 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11.0001V17C11.0001 17.5523 11.4479 18 12.0001 18C12.5524 18 13.0001 17.5523 13.0001 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13.0001V7Z"
                  fill="#ffffff" />
              </g>
            </svg>
            Edit Players
          </button>
          <button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal"
            [disabled]="accessType !== 'admin'" (click)="emitForm('addGameweek')"
            class="inline-flex items-center px-4 py-2 text-xs font-medium text-white bg-blue-600 rounded-e-lg hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
            <svg class="w-4 h-4 me-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0" />
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
              <g id="SVGRepo_iconCarrier">
                <circle cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="2.4" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.0001 7C13.0001 6.44771 12.5524 6 12.0001 6C11.4479 6 11.0001 6.44771 11.0001 7V11H7C6.44771 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11.0001V17C11.0001 17.5523 11.4479 18 12.0001 18C12.5524 18 13.0001 17.5523 13.0001 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13.0001V7Z"
                  fill="#ffffff" />
              </g>
            </svg>
            Add Gameweek
          </button>
        </div>
      </div>
    </div>
    <div class="team-image">
      <img [src]="post?.imagePath" alt="team's logo or image">
    </div>
  </div>
</div>

<div class="content">
  <table-ranking [tableData]='gameWeeks' [teamId]="postId"></table-ranking>
</div>


<div class="content" *ngIf="!hideGameweek">
  <div class="w-1/2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    *ngFor="let item of gameWeeks, index as i">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Match Days</h5>
    <h3 *ngIf="item.weeksArray.length === 0" class="mb-2 text-l font-bold tracking-tight text-gray-900 dark:text-white">
      Let's
      add a gameweek!
    </h3>
    <a [routerLink]="['gameweek', week.week]" *ngFor="let week of item.weeksArray, index as i"
      (click)="clickGameweek(i)"
      class="block w-full p-4 mb-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-1xl font-semibold tracking-tight text-gray-900 dark:text-white">Gameweek {{week.week}}</h5>
    </a>
  </div>
</div>

<div class="content" *ngIf="gameWeeks.length === 0">
  <div class="w-1/2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h3 class="mb-2 text-l font-bold tracking-tight text-gray-900 dark:text-white">
      Let's
      add a gameweek!
    </h3>
  </div>
</div>


<game-week-modal id="default-modal" tabindex="-1" aria-hidden="true" [teamId]="postId"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"></game-week-modal>

<div class="content" *ngIf="hideGameweek">
  <router-outlet></router-outlet>
</div>
