.content {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* .team-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.team-info {
  flex: 2;
}

.team-image {
  flex: 0.8;
}

.list-players {
  font-size: 0.9rem;
}

*:disabled {
  color: white;
  opacity: 1;
  cursor: not-allowed;
}
