<div class="container flex flex-col md:flex-row w-10/12 md:w-full">
  <div class="loader mt-4" *ngIf="!dataLoaded"></div>

  <div
    class="relative overflow-x-auto shadow-md sm:rounded-lg m-4"
    *ngIf="dataLoaded"
  >
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Player Name
              <a
                ><svg
                  class="w-3 h-3 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  (click)="sortBy('player')"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  /></svg
              ></a>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Matches Played
              <a
                ><svg
                  class="w-3 h-3 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  (click)="sortBy('matchesCount')"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  /></svg
              ></a>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Overall Rating
              <a
                ><svg
                  class="w-3 h-3 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  (click)="sortBy('overallRating')"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  /></svg
              ></a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of tableRawData"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ data.player }}
          </th>
          <td class="px-6 py-4 text-center">
            {{ data.matchesCount }}
          </td>
          <td class="px-6 py-4 text-center">
            {{ data.overallRating.toPrecision(2) }}
          </td>
        </tr>

        <!-- <pre>
        <code>
          {{tableRawData | json}}
        </code>
      </pre> -->
      </tbody>
    </table>
  </div>

  <div
    style="height: fit-content"
    class="relative overflow-x-auto shadow-md sm:rounded-lg m-4"
    *ngIf="dataLoaded"
  >
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Opponent</div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Date</div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Result</div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Score</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of matchHistoryData"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ data.opponent }}
          </th>
          <td class="px-6 py-4 text-center">
            {{ data.date | date : "longDate" }}
          </td>
          <td class="px-6 py-4 text-center game_result">
            <span
              [ngClass]="
                data.result === 'WIN'
                  ? 'game_win'
                  : data.result === 'LOSE'
                  ? 'game_lose'
                  : 'game_draw'
              "
              >{{ data.result }}</span
            >
          </td>
          <td class="px-6 py-4 text-center">
            {{ data.score }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    *ngIf="dataLoaded"
    style="height: fit-content"
    class="p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-11/12 md:w-2/5 m-4"
  >
    <apx-chart
      [series]="chartOptions?.series"
      [chart]="chartOptions?.chart"
      [xaxis]="chartOptions?.xaxis"
      [yaxis]="chartOptions?.yaxis"
      [title]="chartOptions?.title"
    ></apx-chart>
  </div>
</div>
