/* select#player_name {
  width: max-content;
}

input#player_rating {
  width: 3rem;
  text-align: center;
} */

*:disabled {
  background-color: dimgrey;
  color: white;
  opacity: 1;
  cursor: not-allowed;
}

.gameweek_stats_main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gameweek_stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
